<!-- views/pages/about.ejs -->


<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <!--Load style css my cinema-->


        <link rel="stylesheet" href="/stylesheets/user/profile.css">
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/user/profile.js">

        </script>

        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">

        <meta charset="UTF-8">
        <title>Thông tin tài khoản</title>

</head>

<body>


    <div ng-controller="profileController">

        <!-- 
        <nav class="navbar navbar-inverse bg-faded">
            <form class="form-inline">
                  <a class="navbar-brand" href="" style="font-size:40px;color:antiquewhite;">Cinema</a>
                
                <button class="btn btn-outline-success" type="button">Main button</button>
                <button  class="btn btn-sm align-middle btn-outline-secondary" type="button">Smaller button</button>
                <div class="header-icon-logout">
                    <a href="#"><i ng-click="signoutCinema()" class="fa fa-sign-out white" aria-hidden="true"></i></a>
                </div>
                <div class="avatar-profile-header">
                    <a href="">
                        <img src="{{account.url}}" class="avatar-img" alt="avatar">
                    </a>
                </div>
            </form>
        </nav>  -->
        <!-- Header -->
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;">Cinema</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div ng-click="signoutCinema()" class=" menu-dis">
                            <a  href="#">
                            Đăng suất
                            <i  class="fa fa-sign-out " aria-hidden="true"></i></a>
                        </div>
                        <div>
                            <a href="">

                                <div class="avatar-profile-header">


                                    <img src="{{account.url}}" class="avatar-img" alt="avatar">

                                </div>
                                <div class="menu-ac">
                                    <a href="">
                                    Tài khoản
</a>
                                </div>
                            </a>
                        </div>
                        <div class="menu-dis">
                            <a href="/film/create">
                                Tạo Phim
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


        <!-- Body -->
        <div class="container main-container">
            <h1 class="page-header">Chỉnh sửa hồ sơ cá nhân</h1>
            <div class="row">
                <!-- left column -->

                <div class="col-md-4 col-sm-6 col-xs-12 main-left">
                    <div class="avatar-profile">

                        <img id="img-profile" src="{{account.url}}" class="avatar-img" alt="avatar">
                    </div>
                    <h2 style="margin-left:75px;">Ảnh đại diện
                       
                    </h2>
                     <br>
                    <input type="file" id="upload-file" onchange="readURL(this);" class="text-center center-block well well-sm">

                </div>

                <!-- edit form column -->
                <div class="col-md-7  personal-info">

                    <h2 >Thông tin cá nhân</h2>
                    <hr>
                    <form class="form-horizontala"  role="form">
                        <div class="form-group" >
                            <label class="col-lg-6 control-label">Display Name:</label>
                            <div class="col-lg-11">
                                <input ng-model="account.name" class="form-control" value="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-6 control-label">Email:</label>
                            <div class="col-lg-11">
                                <input ng-model="account.email" class="form-control" value="" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-md-6 control-label">Password:</label>
                            <div class="col-md-11">
                                <input ng-model="password" class="form-control" value="" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Confirm password:</label>
                            <div class="col-md-11">
                                <input ng-model="confirmpassword" class="form-control" value="" type="password">
                            </div>
                        </div>
                       
                        <div class="form-group">
                           
                            <label class="col-md-3 control-label">  <br></label>
                            <div class="col-md-8 col-md-offset-6" style="margin-right:20px;">
                                <input ng-click="savechange()" class="btn btn-primary" value="Save Changes" type="button">
                                <span></span>
                                <input class="btn btn-primary" value="Reset" type="reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- 
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h3 class="modal-title" style="display:inline-block;" id="exampleModalLongTitle">Reset Password</h3>
                            <button type="button" style="margin-top:0px;display:inline-block;" class="close" data-dismiss="modal" aria-label="Close">
          <span   aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <input ng-model="currentpass" name="currentpass" type="password" id="currentpass" class="form-control" placeholder="Email address"
                                required autofocus>
                                <input ng-model="newpass" name="newpass" type="password" id="newpass" class="form-control" placeholder="Email address"
                                required >
                                <input ng-model="newpassconfirm" name="newpassconfirm" type="password" id="newpassconfirm" class="form-control" placeholder="Email address"
                                required >


                        </div>
                        <div class="modal-footer">
                            <button ng-click="ResetPassword()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</body>

</html>