<!-- views/pages/about.ejs -->


<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <!--Load style css my cinema-->


        <link rel="stylesheet" href="/stylesheets/user/profile.css">
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/user/profile.js">

        </script>
        

        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">

        <meta charset="UTF-8">
        <title>Thông tin tài khoản</title>

</head>

<body>

    <!-- <div onclick="topFunction()" class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
	        	<i class="fa fa-2x fa-arrow-circle-up"></i>
	              </span>
    </div> -->
    <div class="full-container" ng-controller="profileController">

        <!-- 
        <nav class="navbar navbar-inverse bg-faded">
            <form class="form-inline">
                  <a class="navbar-brand" href="" style="font-size:40px;color:antiquewhite;">Cinema</a>
                
                <button class="btn btn-outline-success" type="button">Main button</button>
                <button  class="btn btn-sm align-middle btn-outline-secondary" type="button">Smaller button</button>
                <div class="header-icon-logout">
                    <a href="#"><i ng-click="signoutCinema()" class="fa fa-sign-out white" aria-hidden="true"></i></a>
                </div>
                <div class="avatar-profile-header">
                    <a href="">
                        <img src="{{account.url}}" class="avatar-img" alt="avatar">
                    </a>
                </div>
            </form>
        </nav>  -->
        <!-- Header -->
        <div class="header">
            <nav style="border-radius:0px;" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;margin-left:-10px;">CINEMA</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div  ng-click="signoutCinema()" class=" menu-dis" style="margin-right:-10px;">
                            <a href="#">
                           
                            <i  class="fa fa-sign-out " aria-hidden="true"></i>
                        ĐĂNG XUẤT
                        </a>
                        </div>




                        <div class="menu-ac">
                            <a style="float:left;" href="">

                                <div class="avatar-profile-header">
                                    <img style="background-color:white;" src="{{imageavatar}}" class="avatar-img">
                                </div>
                                <div class="nameacc">
                                    {{ten}}
                                </div>

                            </a>
                        </div>

                        <div class="menu-dis">
                            <a href="/film/create">
                             
                                <i style="font-size:12px;" class="glyphicon glyphicon-pencil"></i>
                                  TẠO PHIM
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

<!-- 
        <div class="modal fade" id="logoutform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:371px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 style="display:inline;" class="modal-title" id="exampleModalLabel">Thông báo</h3>
                        <button style="margin-top:0px;display:inline;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <h3> Bạn có muốn đăng xuất không?</h3>

                    </div>
                    <div class="modal-footer">
                        <button type="button" style="float:left;width:70px;" class="btn btn-secondary" data-dismiss="modal">Không</button>
                        <button type="button" style="float:right;width:70px;" ng-click="signoutCinema()" class="btn btn-primary">Có</button>
                    </div>
                </div>
            </div>
        </div> -->

        <div ng-hide="inhidden" class="loading-container">
            <div class="spinner"></div>
            <div class="spinner-center"></div>
            <div class="loading-text">Loading...</div>
        </div>

        <!-- Body -->
        <div class="container main-container" ng-hide="ahidden">
            <h1 class=" title-header">Chỉnh sửa thông tin</h1>
            <div class="row">
                <!-- left column -->



                <!-- edit form column -->
                <form class="form-horizontala" role="form">
                    <div class="col-md-7  personal-info">

                        <!-- <h2>Thông tin cá nhân</h2>
                    <hr> -->

                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Tên hiển thị:</label>
                            <div class="col-lg-12">
                                <input ng-model="account.name" class="form-control" value="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Email:</label>
                            <div class="col-lg-12">
                                <input id="myemail" ng-model="account.email" class="form-control" value="" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Điện thoại:</label>
                            <div class="col-lg-12">
                                   <input ng-model="account.phone" class="form-control" value="" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Địa chỉ:</label>
                            <div class="col-lg-12">
                                <input ng-model="account.address" class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Giới thiệu bản thân:</label>
                            <div class="col-lg-12">
                                <textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" ng-model="account.description" cols="19" rows="4" class="form-control"></textarea>
                                <!-- <input ng-model="account.description" class="form-control" value="" type="text"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 main-left">
                        <div class="avatar-profile">
                            <div id="caption-profile" class="caption-change">
                                <h3>Thay đổi</h3>
                            </div>
                            <img id="img-profile" src="{{imageavatar}}" class="avatar-img" alt="avatar">
                        </div>
                        <div class="image-title">Ảnh đại diện

                        </div>
                        <br>
                        <input type="file" style="display:none;" id="upload-file" onchange="readURL(this);" class="text-center center-block well well-sm">

                    </div>
                    <div class="col-md-12 personal-info-2">

                        <!-- <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Giới thiệu bản thân:</label>

                            <textarea style="margin-left:18px;" ng-model="account.description" cols="19" rows="3" class="form-control"></textarea>
                         -->
                        <!-- <input ng-model="account.description" class="form-control" value="" type="text"> -->

                        <!--  </div> -->


                        <div class="form-group">
                            <br>
                            <label class="col-md-3 control-label"> </label>
                            <div class="col-md-8 col-md-offset-9" style="padding-left:120px;margin-right:20px;">
                                <input ng-click="savechange()" class="btn btn-primary" value="Lưu" type="button">
                                <span></span>
                                <input ng-click="reset()" class="btn btn-primary" value="Đặt lại" type="button">
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>



    </div>
    <%- partial('./../share/footer.ejs') -%>



        <script>
            $("#img-profile").click(function () {

                $("#upload-file").click();
            });
        </script>
        <script>
            $("#caption-profile").click(function () {

                $("#upload-file").click();
            });
        </script>
        <script>
            $(document).ready(function () {
                $("[rel='tooltip']").tooltip();

                $('.avatar-profile').hover(
                    function () {
                        $(this).find('.caption-change').slideDown(250); //.fadeIn(250)
                    },
                    function () {
                        $(this).find('.caption-change').slideUp(250); //.fadeOut(205)
                    }
                );
            });
        </script>
</body>

</html>