<!-- views/pages/about.ejs -->


<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <!--Load style css my cinema-->


        <link rel="stylesheet" href="/stylesheets/user/profile.css">
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/user/profile.js">

        </script>

        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">

        <meta charset="UTF-8">
        <title>Thông tin tài khoản</title>

</head>

<body>


    <div ng-controller="profileController">

        <!-- 
        <nav class="navbar navbar-inverse bg-faded">
            <form class="form-inline">
                  <a class="navbar-brand" href="" style="font-size:40px;color:antiquewhite;">Cinema</a>
                
                <button class="btn btn-outline-success" type="button">Main button</button>
                <button  class="btn btn-sm align-middle btn-outline-secondary" type="button">Smaller button</button>
                <div class="header-icon-logout">
                    <a href="#"><i ng-click="signoutCinema()" class="fa fa-sign-out white" aria-hidden="true"></i></a>
                </div>
                <div class="avatar-profile-header">
                    <a href="">
                        <img src="{{account.url}}" class="avatar-img" alt="avatar">
                    </a>
                </div>
            </form>
        </nav>  -->
        <!-- Header -->
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;">Cinema</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div ng-click="signoutCinema()" class=" menu-dis">
                            <a href="#">
                           
                            <i  class="fa fa-sign-out " aria-hidden="true"></i>
                         Đăng xuất
                        </a>
                        </div>




                        <div class="menu-ac">
                            <a style="float:left;" href="">

                                <div class="avatar-profile-header">
                                    <img style="background-color:white;" src="{{account.url}}" class="avatar-img">
                                </div>
                                <div style="margin-left:40px;">
                                    {{account.name}}
                                </div>

                            </a>
                        </div>

                        <div class="menu-dis">
                            <a href="/film/create">
                             
                                <i style="font-size:12px;" class="glyphicon glyphicon-pencil"></i>
                                   Tạo Phim
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


        <!-- Body -->
        <div class="container main-container">
            <h1 class="page-header title-header">Chỉnh sửa hồ sơ cá nhân</h1>
            <div class="row">
                <!-- left column -->



                <!-- edit form column -->
                <form class="form-horizontala" role="form">
                    <div class="col-md-7  personal-info">

                        <!-- <h2>Thông tin cá nhân</h2>
                    <hr> -->

                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Tên hiển thị:</label>
                            <div class="col-lg-12">
                                <input ng-model="account.name" class="form-control" value="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Email:</label>
                            <div class="col-lg-12">
                                <input ng-model="account.email" class="form-control" value="" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Điện thoại:</label>
                            <div class="col-lg-12">
                                <input ng-model="account.phone" class="form-control" value="" type="tel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Địa chỉ:</label>
                            <div class="col-lg-12">
                                <input ng-model="account.address" class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Giới thiệu bản thân:</label>
                            <div class="col-lg-12">
                                <textarea ng-model="account.description" cols="19" rows="4" class="form-control"></textarea>
                                <!-- <input ng-model="account.description" class="form-control" value="" type="text"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 main-left">
                        <div class="avatar-profile">

                            <img id="img-profile" src="{{account.url}}" class="avatar-img" alt="avatar">
                        </div>
                        <div class="image-title">Ảnh đại diện

                        </div>
                        <br>
                        <input type="file" id="upload-file" onchange="readURL(this);" class="text-center center-block well well-sm">

                    </div>
                    <div class="col-md-12 personal-info-2">

                        <!-- <div class="form-group">
                            <label class="col-lg-6 control-label title-top">Giới thiệu bản thân:</label>

                            <textarea style="margin-left:18px;" ng-model="account.description" cols="19" rows="3" class="form-control"></textarea>
                         -->   <!-- <input ng-model="account.description" class="form-control" value="" type="text"> -->

                  <!--  </div> -->


                    <div class="form-group">
<br>
                        <label class="col-md-3 control-label"> </label>
                        <div class="col-md-8 col-md-offset-9" style="padding-left:60px;margin-right:20px;">
                            <input ng-click="savechange()" class="btn btn-primary" value="Save Changes" type="button">
                            <span></span>
                            <input class="btn btn-primary" value="Reset" type="reset">
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <!-- 
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h3 class="modal-title" style="display:inline-block;" id="exampleModalLongTitle">Reset Password</h3>
                            <button type="button" style="margin-top:0px;display:inline-block;" class="close" data-dismiss="modal" aria-label="Close">
          <span   aria-hidden="true">&times;</span>
        </button>
                        </div>
                        <div class="modal-body">
                            <input ng-model="currentpass" name="currentpass" type="password" id="currentpass" class="form-control" placeholder="Email address"
                                required autofocus>
                                <input ng-model="newpass" name="newpass" type="password" id="newpass" class="form-control" placeholder="Email address"
                                required >
                                <input ng-model="newpassconfirm" name="newpassconfirm" type="password" id="newpassconfirm" class="form-control" placeholder="Email address"
                                required >


                        </div>
                        <div class="modal-footer">
                            <button ng-click="ResetPassword()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</body>

</html>