body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color:blue;
}


.header-icon{
    padding-top: 2px;
    float: right;
    font-size: 32px;
    color: white;
}


.white{
  color: white;
}
/* 
.header-icon-logout{
    padding-top: 2px;
    float: right;
    font-size: 32px;
    display: inline-block;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
} */
.avatar-profile-header{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    float:left;
    display: inline-block;
    margin-top: -7px;
      margin-bottom: -3px;
      margin-left: 0px;
    position: absolute;
     background-position: center;
    background-size: cover;
      text-align: center;

}

.avatar-profile-header img{
        height: 100%;    
  min-width: 100%;
    object-fit:cover;
}
ul{
    list-style: none;
}
.main-active{
  
    font-size: 22px;
   
    
    margin-left: 4px;
  
}
.main-disactive{
  
    font-size: 22px;
  
    
    margin-left: 4px;
    
    
}
.menu-ac{
  /* max-width: 150px; */
   max-width: 350px; 
      margin-top: 0px;
      margin-bottom: 0px;
     overflow: hidden;
     height: 51px;
     display: inline;
     padding-left: 5px;
     padding-right: 5px;
     margin-right:5px;
      margin-left:5px;
      float: right;
        white-space: nowrap;
}
.menu-dis{
      max-width: 350px; 
      margin-top: 0px;
      margin-bottom: 0px;
     overflow: hidden;
     height: 51px;
     display: inline;
     padding-left: 5px;
     padding-right: 5px;
  margin-right:5px;
      margin-left:5px;
       float: right;
       white-space: nowrap;
}
.menu-ac a{
       padding-left: 5px;
     padding-right: 5px;
    padding-top:17px;
     height: 50px;
    float:right;
     color:white;  
    /* margin-right:1px;
      margin-left:10px; */
    font-size: 15px;
  background-color: rgba(0, 0, 0, 0.7);
 border-radius: 6px;
       padding-bottom:10px;
 font-family: "Open Sans",sans-serif;
    /* text-transform:uppercase; */
font-weight: bold;
/* border-radius: 5px; */
  /* height: 51px; */
 
   
}

.menu-dis a{
       padding-left: 5px;
     padding-right: 5px;
    padding-top:17px;
    float:right;
     font-family: "Open Sans",sans-serif;
    color:white; 
    /* margin-right:1px;
    margin-left:14px; */
    font-size: 15px;
        padding-bottom:10px;
 font-weight: bold;
   /* text-transform:uppercase; */
}
.menu-ac a:hover{
    background-color: #F5F6CE;
     text-decoration:wavy;
  color: black;
     border-radius: 5px;
     height: 51px;
     /* padding-left: 10px;
     padding-right: 10px; */
      
}
.menu-dis a:hover{
    
      background-color: #F5F6CE;
      text-decoration:wavy;
      color: black;
      border-radius: 5px;
        height: 51px;
         /* padding-left: 10px;
     padding-right: 10px; */
}
    textarea {
    resize: none;
}

.footer{
  background-color: #222222;
    color: white !important;
    padding-top: 24px;
    padding-bottom:  11px ;
    margin-top: 17px;
    font-size: 14px;
    margin-bottom: 0px;
    z-index: 1!important;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
   
  
}
  
.nameacc{
  max-width: 280px; 
 width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left:40px;
}

    


@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

.loading-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
 margin-top: 250px;
 margin-bottom: 75px;
  /* top: 50vh; */
  transform: translateY(-50%);
 
}

.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('/images/loading.png') center center;
  background-size: contain;
  transition-origin: 50% 50%;
  animation: spinner 3s infinite alternate ease-in-out;
}
.spinner-center {
  display: inline-block;
  position: absolute;
  margin-left: -100px;
  width: 100px;
  height: 100px;
  background: url('http://i.imgur.com/u0BC2ZR.png') center center;
  background-size: contain;
  content: '';
}

.loading-text {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 0.5em;
}
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-clear-button{
     -webkit-appearance: none;
    display: none;
}