body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color:blue;
}


.header-icon{
    padding-top: 2px;
    float: right;
    font-size: 32px;
    color: white;
}


.white{
  color: white;
}
/* 
.header-icon-logout{
    padding-top: 2px;
    float: right;
    font-size: 32px;
    display: inline-block;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
} */
.avatar-profile-header{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    float:left;
    display: inline-block;
    margin-top: -7px;
      margin-bottom: -3px;
      margin-left: 0px;
    position: absolute;
     background-position: center;
    background-size: cover;
      text-align: center;

}

.avatar-profile-header img{
        height: 100%;    
  min-width: 100%;
    object-fit:cover;
}
ul{
    list-style: none;
}
.main-active{
  
    font-size: 22px;
   
    
    margin-left: 4px;
  
}
.main-disactive{
  
    font-size: 22px;
  
    
    margin-left: 4px;
    
    
}
.menu-ac{
  /* max-width: 150px; */
   max-width: 300px; 
      margin-top: 0px;
      margin-bottom: 0px;
     overflow: hidden;
     height: 51px;
     display: inline;
     padding-left: 5px;
     padding-right: 5px;
     margin-right:5px;
      margin-left:5px;
      float: right;
        white-space: nowrap;
}
.menu-dis{
      max-width: 300px; 
      margin-top: 0px;
      margin-bottom: 0px;
     overflow: hidden;
     height: 51px;
     display: inline;
     padding-left: 5px;
     padding-right: 5px;
  margin-right:5px;
      margin-left:5px;
       float: right;
       white-space: nowrap;
}
.menu-ac a{
       padding-left: 5px;
     padding-right: 5px;
    padding-top:17px;
     height: 50px;
    float:right;
    color:aquamarine; 
    /* margin-right:1px;
      margin-left:10px; */
    font-size: 15px;
  background-color: rgba(0, 0, 0, 0.4);
 border-radius: 6px;
       padding-bottom:10px;
 font-family: "Open Sans",sans-serif;
    text-transform:uppercase;
font-weight: bold;
/* border-radius: 5px; */
  /* height: 51px; */
 
   
}

.menu-dis a{
       padding-left: 5px;
     padding-right: 5px;
    padding-top:17px;
    float:right;
     font-family: "Open Sans",sans-serif;
    color:white; 
    /* margin-right:1px;
    margin-left:14px; */
    font-size: 15px;
        padding-bottom:10px;
 font-weight: bold;
   text-transform:uppercase;
}
.menu-ac a:hover{
    background-color: #F5F6CE;
     text-decoration:wavy;
  color: black;
     border-radius: 5px;
     height: 51px;
     /* padding-left: 10px;
     padding-right: 10px; */
      
}
.menu-dis a:hover{
    
      background-color: #F5F6CE;
      text-decoration:wavy;
      color: black;
      border-radius: 5px;
        height: 51px;
         /* padding-left: 10px;
     padding-right: 10px; */
}
    textarea {
    resize: none;
}

    

