.avatar-profile{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
}
.avatar-profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-icon-logout{
    padding-top: 2px;
    float: right;
    font-size: 32px;
    display: inline-block;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}
.avatar-profile-header{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    float:right;
    display: inline-block;
    margin-top: 5px;

}

.avatar-profile-header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-container{
   width: 970px;
   margin-top: 0px;
    background-color: white;
   padding-left: 30px;
    border-radius: 10px;
}


