.avatar-profile{
    height: 270px;
    width: 270px;
    border-radius: 50%;
   top: 10px;
 
     border: 2px solid white; 
    overflow: hidden;
     margin:auto;
     background-color:white;
    background-position: center;
    background-size: cover;
      text-align: center;
      cursor: pointer;
     position:relative;
    overflow:hidden;
}
.avatar-profile img{
        height: 100%;    
  min-width: 100%;
    object-fit:cover;
    /* background-position: center; */
}
.image-title{
    margin-top: 22px;
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
}
.header-icon-logout{
    padding-top: 2px;
    float: right;
    font-size: 32px;
    display: inline-block;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}
/*.avatar-profile-header{
    height: 40px;
    width: 40px;
    border-radius: 50%;
   background-color:white;
    border: 1px solid white;
    overflow: hidden;
    float:right;
    display: inline-block;
    margin-top: 5px;

}

.avatar-profile-header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */
.full-container {
    min-height: 87.7vh;
}
.main-container{
   width: 970px;
   margin-top: 0px;
    background-color: white;
 
    border-radius: 10px;
    padding-bottom: 30px;
     padding-left: 30px; 
     /* padding-right: 40px;  */
}
.main-left{
/* background-color: #B5B5B5; */
/* padding-bottom: 30px; */
/* padding-top: 30px;
margin-left: 20px; */
width: 360px;
margin-top: 15px;
padding-top: 10px;
padding-bottom: 5px;
color:black;
border-radius: 10px;
 border: 0.5px solid grey; 
margin-left: 12px;

}
.btn-uploadfile{
    width: 280px;
}


.form-horizontala{
   margin-left: -15px;
}
.personal-info{
    /* background-color: #B5B5B5; */
     margin-left: 0px; 
  margin-top: 0px;
    color:black;
     /* margin-right: 20px; */
     border-radius: 10px;
/* border: 0.5px solid grey; */
/* padding-left: 50px; */
/* padding-bottom: 29px; */
font-size: 16px;
/* width: 500px; */

}
.personal-info-2{
    /* background-color: #B5B5B5; */
    /* margin-left: 20px; */
    width: 940px;
  margin-top: 0px;
    color:black;
     /* margin-right: 20px; */
     border-radius: 10px;
/* border: 0.5px solid grey; */
/* padding-left: 50px; */
/* padding-bottom: 29px; */
font-size: 16px;


}
.form-group textarea{
   min-height:96px;
}
#upload-file{
    margin-bottom: 10px;
    margin-top: 0px;
}
.title-header{
        /* border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid; */
    text-align: center;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.title-top{
    margin-top: 10px;
    margin-bottom: 1px;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.caption-change {
    position:absolute;
    bottom: 0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:30%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}