.title-header{
    /* border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid; */
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
    
}
.main-container{
   width: 970px;
   margin-top: 0px;
    background-color: white;
   padding-left: 30px;
    border-radius: 10px;
}

.image-avatar{
          height:400px;
      width:300px;
       border-radius:20px;
       border:1px solid black;
       position: relative;
       
   
     overflow: hidden; 
       
}
    .image-avatar img{
     object-fit: cover;
     width: 100%;
    min-height: 100%;
     left: 0px;
     
        
    }
    #upload-file{
        margin-left: 1px;
        /* background-color:rgba(137  , 137 ,137, 0.3); */
        border-radius: 8px;
        width: 300px;
    }
    input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-clear-button{
     -webkit-appearance: none;
    display: none;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
 }
/*.film-info{
    margin-right: 20px;
} */
.input-info{
   left:40px;
}
