.main-container{
   
   
    width: 970px;
   margin-top: 0px;
    background-color: white;
   padding-left: 30px;
    border-radius: 10px;
    padding-left: 30px;
     padding-right: 30px;
     padding-top: 20px;
     /* padding-bottom: 20px; */
     
}
.image-avatar{
         height:510px;
      width:400px;
       border-radius:10px;
        border:1px solid black; 
       position: relative;
     overflow: hidden; 
     
}
    .image-avatar img{
     object-fit: cover;
     width: 100%;
    min-height: 100%;
     left: 0px;
   
   
        
    }
.edit-text{
    color: black;
}
.content-style{
   font-family: 'Manuale', serif;
 font-size: 22px;
 text-align: justify;
}
.content-style pre{
    border:0px solid white;
    background: rgba(244, 244, 244, 0.3);;
    height: auto;
    padding:0;
      white-space:pre-line;  
  word-break: break-word; 
   font-family: 'Manuale', serif;
}
.tieude{
   font-size:22px;
     font-weight:bold;
   display: inline;
  font-family: 'Roboto Slab', serif;
 
}
.main-right{
    padding-bottom: 10px;
    margin-top:-22px;
    padding-left: 10px;
    padding-right: 10px;
     /* background-color: rgba(244, 244, 244, 0.3);  */
    border-radius: 10px;
    /* height: 510px;   */
    margin-left: 430px;
    margin-right: 10px;
     /* overflow: scroll;
     
 border: 1px solid darkgrey; */
  
}
.header-title{
    text-align: center;
    font-size: 45px;
    margin-top: -5px;
    margin-bottom: 15px;
 font-family: 'Paytone One', sans-serif;
   font-weight:bold;
    color:#003300;
    text-transform: uppercase;
    /* border-bottom: 1px solid black; */
}
.full-container{
    min-height: 87.8vh;
}


