
.white{
    color: white;
}

 .card-name{
     text-align: center;
      color: white;
      position: absolute;
      bottom: 40px;
      left: 10px;
      font-size: 40px;
      text-transform:uppercase;
      border-bottom-width: 1px;
      border-bottom-color: white;
      border-bottom-style: solid;
      
       
 }
.card-content{
    color: white;
    left: 10px;
     margin-right: 2px;
    position: absolute;
   bottom:5px;  
  text-align: right;
  

}
.card-img{  
    object-fit: cover;
    width: 100%;
     overflow: hidden; 
      min-height: 100%;
     /* margin-top: 10px; */
     /* margin-left: 10px; */
     /* margin-right: 400px; */
 
}
 
.header-icon{
    padding-top: 2px;
    float: right;
    font-size: 10px;
    color: white;
} 

.card{
   background-color: rgba(0, 0, 0, 0.8);
   position: absolute;
   height: 100px;
   bottom: 0px;
   border: 1px solid black;
   width: 100%;
}

.nopadding {

  margin-top: 25px !important;
  outline: 2px solid #333;
  display: block;
  background: gray;
  position: relative;
   height: 440px;
   width: 100%;
  
   overflow:hidden;
  
}

