
.white{
    color: white;
}

.header-icon{
    padding-top: 2px;
    float: right;
    font-size: 10px;
    color: white;
} 

.card{
   background-color: rgba(0, 0, 0, 0.8);
   position: absolute;
    height: auto;
   bottom: 0px;
   /* border: 1px solid black; */
   width: 100%;
   padding:2px;
   padding-top:10px;
   overflow: hidden;
    /* height: auto; */
  
   
}
.card p{
    font-family: 'Roboto Slab', serif;
    text-align: center;
  
   
}
 .card-name{
     
      color: white;
      position: relative;
       top: 5px;
      left: 2px;
      right:5px;
       margin-right: 2px;
    
  min-height: 70px;
  max-height: 430px;
      text-transform:uppercase;
    font-family: 'Francois One', sans-serif;
   
 }
.card:hover{
    vertical-align: super;
  /* height: 150px; */
  height: auto;
  min-height: 70px;
  max-height: 430px;    
  font-size: 29px;
     background-color: rgba(0, 0, 0, 1);
    
     padding-bottom: 2px;
     overflow: visible;
}
.card-img{  
    object-fit: cover;
    width: 100%;
     overflow: hidden; 
      min-height: 100%;
     /* margin-top: 10px; */
     /* margin-left: 10px; */
     /* margin-right: 400px; */
 
}
    .card-img:hover{
        box-shadow:0px 0px 30px gray;
    }
 
.nopadding a:hover{
    font-size: 28px;
}
.nopadding {
 font-size: 24px;
  margin-top: 25px !important;
  outline: 2px solid #333;
  display: block;
  background: gray;
  position: relative;
   height: 440px;
   width: 100%;
  /* padding: 2px; */
  border: 2px solid gray;
   overflow:hidden;
}
.ribbon-right{
     position: absolute;
    color:yellow;
    background: #A21D0A;
    font-size: 13px;
    font-weight: bold;
    float: right;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    right: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}
.ribbon {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 14px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}


.intro {
    position: absolute;
    width: 100%;
    top: calc(50vh - 150px);
    text-align: center;
}
img.loading {
    opacity: 0;
    width: 150px;
    transform-style: preserve-3d;
    animation: loading 2s 2 alternate ease;
    
}
.full-container{
    min-height: 89vh;
}