
.white{
    color: white;
}

.header-icon{
    padding-top: 2px;
    float: right;
    font-size: 10px;
    color: white;
} 

.card{
   background-color: rgba(0, 0, 0, 0.8);
   position: absolute;
   height: 120px;
   bottom: 0px;
   border: 1px solid black;
   width: 100%;
   padding-top:10px;
   overflow: hidden;
}
 .card-name{
     text-align: center;
      color: white;
      position: absolute;
      top: 5px;
      left: 5px;
      right:5px;
      bottom: 5px;
      font-size: 30px;
      text-transform:uppercase;
    font-family: 'Francois One', sans-serif;
      
       
 }
.card-img{  
    object-fit: cover;
    width: 100%;
     overflow: hidden; 
      min-height: 100%;
     /* margin-top: 10px; */
     /* margin-left: 10px; */
     /* margin-right: 400px; */
 
}
 

.nopadding {

  margin-top: 25px !important;
  outline: 2px solid #333;
  display: block;
  background: gray;
  position: relative;
   height: 440px;
   width: 100%;
  
   overflow:hidden;
  
}
.ribbon-right{
     position: absolute;
    color:yellow;
    background: #A21D0A;
    font-size: 13px;
    font-weight: bold;
    float: right;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    right: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}
.ribbon {
    position: absolute;
    color: #fff;
    background: #A21D0A;
    font-size: 14px;
    font-weight: bold;
    float: left;
    clear: both;
    padding: 4px;
    text-shadow: 1px 1px 2px #111;
    left: 2px;
    top: 5px;
    white-space: nowrap;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}