<!-- views/pages/about.ejs -->


<html ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/create.js"></script>
        <script src="/javascripts/main.js"></script>
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/film/create.css">

        <meta charset="UTF-8">
        <title>Tạo phim</title>

</head>

<!-- onload="loadAgeSelector()" -->

<body ng-controller="createController">
    <div onclick="topFunction()" class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
	        	<i class="fa fa-2x fa-arrow-circle-up"></i>
	              </span>
    </div>
    <!-- Header -->
    <!-- Header -->
    <div class="header">
        <nav style="border-radius:0px;" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite; margin-right:-10px;">Cinema</a>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div data-toggle="modal" data-target="#logoutform" class=" menu-dis" style="margin-right:-10px;">
                        <a href="#">
                           
                            <i  class="fa fa-sign-out " aria-hidden="true"></i>
                         ĐĂNG XUẤT
                        </a>
                    </div>
                    <div class="menu-dis">
                        <a style="float:left;" href="/user">

                            <div class="avatar-profile-header">
                                <img style="background-color:white;" src="{{imageavatar}}" class="avatar-img">
                            </div>
                            <div class="nameacc">
                                {{ten}}
                            </div>

                        </a>
                    </div>
                    <div class="menu-ac">
                        <a href="/film/create">
                               
                                <i style="font-size:12px;"   class="glyphicon glyphicon-pencil"></i>
                                TẠO PHIM
                            </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>


    <div class="modal fade" id="logoutform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:371px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="display:inline;" class="modal-title" id="exampleModalLabel">Thông báo</h3>
                    <button style="margin-top:0px;display:inline;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <h3> Bạn có muốn đăng xuất không?</h3>

                </div>
                <div class="modal-footer">
                    <button type="button" style="float:left;width:70px;" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <button type="button" style="float:right;width:70px;" ng-click="signoutCinema()" class="btn btn-primary">Có</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="container main-container">
        <h1 class="title-header">Tạo Phim</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <div class="image-avatar">
                        <div id="caption-film" class="caption">
                            <h3>Thay đổi</h3>
                        </div>
                        <img id="avatar-film" src="/images/a.jpg" class="avatar" alt="avatar">
                    </div>
                    <!-- <h6 id="upload-other-photo" style="display:none;">Upload a different photo... </h6> -->
                    <input style="display:none;" type="file" id="upload-file" onchange="readURL(this);" class="text-center center-block well well-sm"
                        required>



                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 film-info">


                <form class="form-horizontal" role="form">
                    <!-- <h2 class="col-lg-10" style="margin-top:-4px;left:20px;">Thông tin phim:</h2> -->
                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-11 input-info">Tên Phim</label>
                        <div class="col-lg-11 input-info">
                            <input ng-model="name" class="form-control" placeholder="Tên phim" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-4 input-info">Thể Loại</label>
                        <div style="left:40px;" class="col-lg-7">


                            <select class="form-control" ng-init="genre = optionsGenre[0]" ng-model="genre" ng-options="option.name for option in optionsGenre">

                    </select>

                            <!-- <select ng-model="genre" id="genre">
                                <option  value="Phim hành động"  selected="selected"> Phim hành động</option>
                                <option value="Phim cổ trang">Phim cổ trang</option>
                                <option value="Phim kiếm hiệp">Phim kiếm hiệp</option>
                                <option value="Phim tình cảm">Phim tình cảm</option>
                                <option value="Phim viễn tưởng">Phim viễn tưởng</option>
                                <option value="Phim khoa học">Phim khoa học</option>
                                <option value="Phim hoạt hình">Phim hoạt hình</option>
                                <option value="Phim chiến tranh">Phim chiến tranh</option>
                              
                            </select> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-4 input-info">Thời gian phát hành</label>
                        <div style="left:40px;" class="col-lg-7">

                            <input ng-model="year.value" type="date" class="form-control" value='' />
                            <!-- <div class="input-append date form_datetime">
                                <input size="16" type="text" value="" readonly>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>

                            <script type="text/javascript">
                                $(".form_datetime").datetimepicker({
                                    format: "dd MM yyyy - hh:ii"
                                });

                            </script> -->
                            <!-- <select class="form-control" ng-model="year" id="yearselect" ng-change="selectoption();"></select> -->





                        </div>
                    </div>
                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-4 input-info">Nội dung phim</label>
                        <div contentEditable="true" class="col-lg-11 input-info">

                            <textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" ng-model="content" class="form-control content-film" placeholder="Nội dung phim"
                                rows="7" required>

                            </textarea>
                        </div>


                    </div>
                    <div style="float:right;left:13px;" class="form-group col-lg-3">
                        <input style="font-size:16px;" ng-click="createFilm()" class="btn btn-primary" value="Tạo Phim" type="button">
                        <!-- <input  style="font-size:16px;"  ng-click="reset()" class="btn btn-primary" value="Reset" type="button"> -->
                    </div>

                </form>
            </div>
        </div>
    </div>

    <%- partial('./../share/footer.ejs') -%>


        <script>
            $(document).ready(function () {
                $("[rel='tooltip']").tooltip();

                $('.image-avatar').hover(
                    function () {
                        $(this).find('.caption').slideDown(250); //.fadeIn(250)
                    },
                    function () {
                        $(this).find('.caption').slideUp(250); //.fadeOut(205)
                    }
                );
            });
        </script>

        <script>
            $("#avatar-film").click(function () {

                $("#upload-file").click();
            });
        </script>
        <script>
            $("#caption-film").click(function () {

                $("#upload-file").click();
            });
        </script>


</body>

</html>