<!-- views/pages/about.ejs -->


<html ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/create.js"></script>
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/film/create.css">

        <meta charset="UTF-8">
        <title>Tạo phim</title>
</head>

<!-- onload="loadAgeSelector()" -->

<body ng-controller="createController">

    <!-- Header -->
    <!-- Header -->
    <div class="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;">Cinema</a>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div ng-click="signoutCinema()" class=" menu-dis">
                        <a href="#">
                           
                            <i  class="fa fa-sign-out " aria-hidden="true"></i>
                         Đăng xuất
                        </a>
                    </div>




                    <div class="menu-dis">
                        <a style="float:left;" href="/user">

                            <div class="avatar-profile-header">
                                <img style="background-color:white;" src="{{account.url}}" class="avatar-img">
                            </div>
                            <div style="margin-left:40px;">
                                {{ten}}
                            </div>

                        </a>



                    </div>
                    <div class="menu-ac">
                        <a href="/film/create">
                               
                                <i style="font-size:12px;"   class="glyphicon glyphicon-pencil"></i>
                                 Tạo Phim
                            </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>





    <!-- Body -->
    <div class="container main-container">
        <h1 class="title-header">Tạo Phim</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <div class="image-avatar">
                        <img style="border-radius:20px;border:1px solid black" id="avatar-film" src="https://firebasestorage.googleapis.com/v0/b/filmproject-bb14a.appspot.com/o/a.jpg?alt=media&token=aa7b98c8-1b22-4867-8272-327d366717fe"
                            class="avatar" alt="avatar">
                    </div>
                    <!-- <h6 id="upload-other-photo" style="display:none;">Upload a different photo... </h6> -->
                    <input type="file" id="upload-file" onchange="readURL(this);" class="text-center center-block well well-sm" required>
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 film-info">


                <form class="form-horizontal" role="form">
                    <h2 class="col-lg-10" style="margin-top:-4px;left:20px;">Thông tin phim:</h2>
                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-11 input-info">Tên Phim</label>
                        <div  class="col-lg-11 input-info">
                            <input   ng-model="name" class="form-control" placeholder="Tên phim" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-4 input-info">Thể Loại</label>
                        <div style="left:40px;" class="col-lg-7">


                            <select class="form-control" ng-init="genre = optionsGenre[0]" ng-model="genre" ng-options="option.name for option in optionsGenre">

                    </select>

                            <!-- <select ng-model="genre" id="genre">
                                <option  value="Phim hành động"  selected="selected"> Phim hành động</option>
                                <option value="Phim cổ trang">Phim cổ trang</option>
                                <option value="Phim kiếm hiệp">Phim kiếm hiệp</option>
                                <option value="Phim tình cảm">Phim tình cảm</option>
                                <option value="Phim viễn tưởng">Phim viễn tưởng</option>
                                <option value="Phim khoa học">Phim khoa học</option>
                                <option value="Phim hoạt hình">Phim hoạt hình</option>
                                <option value="Phim chiến tranh">Phim chiến tranh</option>
                              
                            </select> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-4 input-info">Thời gian phát hành</label>
                        <div style="left:40px;" class="col-lg-7">

                            <input ng-model="year.value" type="date" class="form-control" value='' />
                            <!-- <div class="input-append date form_datetime">
                                <input size="16" type="text" value="" readonly>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>

                            <script type="text/javascript">
                                $(".form_datetime").datetimepicker({
                                    format: "dd MM yyyy - hh:ii"
                                });

                            </script> -->
                            <!-- <select class="form-control" ng-model="year" id="yearselect" ng-change="selectoption();"></select> -->





                        </div>
                    </div>
                    <div class="form-group">
                        <label style="text-align:left;font-size:16px;" class="col-lg-4 input-info">Nội dung phim</label>
                        <div class="col-lg-11 input-info">
                            <textarea ng-model="content" class="form-control" placeholder="Nội dung phim" rows="5" required>

                            </textarea>
                        </div>

                    </div>
                    <div style="float:right;left:13px;" class="form-group col-lg-3">
                        <input style="font-size:16px;" ng-click="createFilm()" class="btn btn-primary" value="Tạo Phim" type="button">
                        <!-- <input  style="font-size:16px;"  ng-click="reset()" class="btn btn-primary" value="Reset" type="button"> -->
                    </div>

                </form>
            </div>
        </div>
    </div>





</body>

</html>