<!-- views/pages/about.ejs -->



<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <!--Load style css my cinema-->

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/css/xeditable.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/js/xeditable.min.js"></script>

        <link rel="stylesheet" href="/stylesheets/film/detail.css">
        <!-- Load style header-->



        <!-- Load style header-->
        <script src="/javascripts/film/detail.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">


        <meta charset="UTF-8">
        <title>Phim {{Film.name}}</title>
</head>

<body>

    <div ng-controller="detailController" ng-cloak>

        <!-- Header -->
        <!-- Header -->
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;">Cinema</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div ng-click="signoutCinema()" class=" menu-dis">
                            <a href="#">
                                 <i  class="fa fa-sign-out " aria-hidden="true"></i>
                            Đăng suất
                           </a>
                        </div>
                        <div>

                            <div class="menu-dis">
                                <a href="/user">
                                     Tài khoản
                                    <div class="avatar-profile-header">
                                        <img style="background-color:white;" src="{{account.url}}" class="avatar-img">
                                    </div>
                                   
                                </a>

                            </div>
                            </a>
                        </div>
                        <div class="menu-dis">
                            <a href="/film/create">
                                
                                <i class="glyphicon glyphicon-pencil"></i>
                                Tạo Phim
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>





        <!-- Body -->
        <div class="container main-container">

            <div class="row">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-avatar">
                        <img src='{{Film.url}}' style="border-radius:20px;border:1px solid black" alt="avatar">

                    </div>
                </div>
                <!-- edit form column -->
                <div class="main-right">
                    <h1>
                        {{Film.name}}
                    </h1>


                    <!-- <a href="" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a> -->


                    <h3 class="content-style">
                        <div class="tieude">Thể Loại: </div>

                        <!-- <a href="#" editable-select="Film.genre" e-ng-options="s.name for s in genres"> -->
                        {{Film.genre}}

                    </h3>
                    <h3 class="content-style">
                        <div class="tieude">Năm sản xuất: </div>{{Film.year}}</h3>
                    <div class="tieude">
                        Nội dung:
                    </div>
                    <p class="content-style"> {{Film.content}}</p>
                </div>
            </div>



        </div>



    </div>
</body>

</html>