<!-- views/pages/about.ejs -->



<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>

        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <!--Load style css my cinema-->

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/css/xeditable.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/js/xeditable.min.js"></script>

        <link rel="stylesheet" href="/stylesheets/film/detail.css">
        <!-- Load style header-->



        <!-- Load style header-->
        <script src="/javascripts/film/detail.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">


        <meta charset="UTF-8">
        <title>Phim {{Film.name}}</title>
</head>

<body>

    <div ng-controller="detailController" ng-cloak>

        <!-- Header -->
        <!-- Header -->
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;">Cinema</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div  data-toggle="modal" data-target="#logoutform" class=" menu-dis" style="margin-right:-7px;">
                            <a href="#">
                                 <i  class="fa fa-sign-out " aria-hidden="true"></i>
                            Đăng xuất
                           </a>
                        </div>


                        <div class="menu-dis">
                            <a style="float:left;" href="/user">

                                <div class="avatar-profile-header">
                                    <img style="background-color:white;" src="{{imageavatar}}" class="avatar-img">
                                </div>
                                <div class="nameacc">
                                    {{ten}}
                                </div>
                            </a>


                        </div>
                        <div class="menu-dis">
                            <a href="/film/create">
                                
                                <i style="font-size:12px;" class="glyphicon glyphicon-pencil"></i>
                                Tạo Phim
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>



  <div class="modal fade" id="logoutform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:371px" role="document">
                <div class="modal-content">
                     <div class="modal-header">
                        <h5 style="display:inline;" class="modal-title" id="exampleModalLabel"></h5>
                        <button style="margin-top:0px;display:inline;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div> 
                    <div class="modal-body">
                        <h3> Bạn có muốn đăng suất không?</h3>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="float:left;width:70px;" class="btn btn-secondary" data-dismiss="modal">Không</button>
                        <button type="button" style="float:right;width:70px;" ng-click="signoutCinema()" class="btn btn-primary">Có</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="container main-container">

            <div class="row">
                <!-- left column -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-avatar">
                        <img src='{{Film.url}}' style="border-radius:20px;border:1px solid black" alt="avatar">

                    </div>
                </div>
                <!-- edit form column -->
                <div class="main-right">
                    <h1>
                        {{Film.name}}
                    </h1>


                    <!-- <a href="" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="fa fa-edit"></i></a> -->


                    <h3 class="content-style">
                        <div class="tieude">Thể Loại: </div>

                        <!-- <a href="#" editable-select="Film.genre" e-ng-options="s.name for s in genres"> -->
                        {{Film.genre}}

                    </h3>
                    <h3 class="content-style">
                        <div class="tieude">Năm sản xuất: </div>{{Film.year}}</h3>
                    <h3 class="content-style">
                        <div class="tieude">
                            Nội dung:
                        </div>
                        <p style="font-size:20px;"> {{Film.content}}</p>
                    </h3>
                </div>
            </div>



        </div>



    </div>
     <%- partial('./../share/footer.ejs') -%>
</body>

</html>