<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=vietnamese" rel="stylesheet">
        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <!--Load style css my cinema-->

        <link rel="stylesheet" href="/stylesheets/film/listFilm.css">
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">


        <meta charset="UTF-8">
        <title>Danh Sách phim</title>
</head>

<body>

    <div ng-controller="listFilmController">

        <!-- Header -->

        <!-- Header -->
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;">Cinema</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                         <div ng-click="signoutCinema()" class=" menu-dis">
                            <a  href="#">
                                  <i  class="fa fa-sign-out " aria-hidden="true"></i>
                            Đăng suất
                          </a>
                        </div>
                        <div>


                               

                                    

                          
                            <div class="menu-dis">
                               
                            
                                <a href="/user">
                                    <div class="avatar-profile-header">
                                <img style="background-color:white;" src="{{account.url}}" class="avatar-img">
                                  </div>
                               {{account.name}}
                                  
</a>

                            </div>

                        </div>
                        <div class="menu-dis">
                            <a href="/film/create">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Tạo Phim
                                
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


        <!-- <div id="body" style="display:none;"> -->






<div class="intro">
    <img src="/images/1.jpg" alt="" class="loading">
    <h1> Loading...</h1>
</div>




        <!-- List Film -->
        <div class="container" ng-cloak>
            <div class="row-inline">

                <div ng-repeat="Film in listFilm" class="col-sm-4">

                    <div class="nopadding">

                        <a href='/film/detail/{{Film.$id}}'>
                            <!-- <a href='/film/detail/{{Film.$id}}'>  -->
                            <img class="card-img" alt="ảnh" src='{{Film.url}}'>
                            <!-- <span style="font-size:12px;" class="ribbon">
                            {{Film.genre}}
                            
                        </span> -->
                            <div class="ribbon">
                                {{Film.year}}
                                <div style="color:yellow">{{Film.new}}</div>
                            </div>
                            <div class="card">
                                <p class="card-name">{{Film.name}}</p>

                            </div>
                        </a>

                    </div>
                </div>


            </div>

        </div>


        <!--       
       
        </div>
        <div id="msg" style="font-size:largest;">
            Please Wait...
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#body').show();
                $('#msg').hide();
            });
        </script>  -->

    </div>
</body>

</html>