<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="app.cinema">

<head>

    <%- partial('./../share/load.ejs') -%>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css"
            media="screen">

        <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster|Oswald|Pacifico|Paytone+One&amp;subset=vietnamese"
            rel="stylesheet">


        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=vietnamese" rel="stylesheet">
        <!-- Load javascript  -->
        <script src="/javascripts/film/listFilm.js"></script>
        <script src="/javascripts/main.js"></script>
        <!--Load style css my cinema-->

        <link rel="stylesheet" href="/stylesheets/film/listFilm.css">
        <!-- Load style header-->
        <link rel="stylesheet" href="/stylesheets/style.css">


        <meta charset="UTF-8">
        <title>Danh Sách phim</title>
</head>

<body>

    <div class="full-container" ng-controller="listFilmController">
        <!-- ? <button onclick="topFunction()" id="myBtnGoTop" title="Go to top">Top</button> -->
        <div onclick="topFunction()" id='scrollme' class="scroll-top-wrapper ">
            <span class="scroll-top-inner">
	        	<i class="fa fa-2x fa-arrow-circle-up"></i>
	              </span>
        </div>

        <!-- Header -->

        <!-- Header -->
        <div class="header">
            <nav style="border-radius:0px;" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/film/list" style="font-size:40px;color:antiquewhite;margin-left:-10px;">CINEMA</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <div ng-click="signoutCinema()" class=" menu-dis" style="margin-right:-10px;">
                            <a href="#">
                                  <i  class="fa fa-sign-out " aria-hidden="true"></i>
                            ĐĂNG XUẤT
                          </a>
                        </div>
                        <!-- ng-click="signoutCinema()" -->

                        <div class="menu-dis">


                            <a style="float:left;" href="/user">
                                <div class="avatar-profile-header">
                                    <img style="background-color:white;" src="{{imageavatar}}" class="avatar-img">
                                </div>
                                <div class="nameacc">
                                    {{ten}}
                                </div>

                            </a>



                        </div>
                        <div class="menu-dis">
                            <a href="/film/create">
                                <i style="font-size:12px;" class="glyphicon glyphicon-pencil"></i>
                               TẠO PHIM
                                
                            </a>
                        </div>

                    </div>
                </div>
            </nav>
        </div>


        <!-- <div id="body" style="display:none;"> -->


        <!-- Modal -->
        <!-- <div class="modal fade" id="logoutform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:371px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 style="display:inline;" class="modal-title" id="exampleModalLabel">Thông báo</h3>
                        <button style="margin-top:0px;display:inline;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <h3> Bạn có muốn đăng xuất không?</h3>

                    </div>
                    <div class="modal-footer">
                        <button type="button" style="float:left;width:70px;" class="btn btn-secondary" data-dismiss="modal">Không</button>
                        <button type="button" style="float:right;width:70px;" ng-click="signoutCinema()" class="btn btn-primary">Có</button>
                    </div>
                </div>
            </div>
        </div> -->



        <!-- 
        <div class="intro">
            <img src="/images/1.jpg" alt="" class="loading">
            <h1> Loading...</h1>
        </div> -->




        <!-- List Film -->
        <div class="container" ng-cloak>
            <div style="float:left" class="  orderby">
                <label class="laa"> Thể loại</label>
                <select style="margin-bottom: 20px;" class="form-control sort-genre" ng-init="searchgenre = optionsGenre[0]" ng-model="searchgenre"
                    ng-options="option.name for option in optionsGenre">

               </select>
                <label class="laa"> Thời gian</label>
                <select class="form-control sort-time" ng-init="searchtime = timesOption[0]" ng-model="searchtime" ng-options="time.name for time in timesOption">

               </select>
                <label class="laa">Tên phim</label>
                <input type="text" class=" search-query form-control sort-name" ng-model="searchname" placeholder="Tìm phim theo tên" />


                <button ng-click="searchFilm()" class="btn btn-primary">
                     <i class="fa fa-search" aria-hidden="true"></i>
                         Tìm
                </button>
            </div>
            <div ng-hide="inhidden" class="loading-container">
                <div class="spinner"></div>
                <div class="spinner-center"></div>
                <div class="loading-text">Loading...</div>
            </div>
            <div ng-hide="anhidden">
                <div class="row-inline">

                    <div ng-repeat="Film in listFilm" class="col-sm-4">

                        <div class="nopadding">

                            <a href='/film/detail/{{Film.id}}'>
                                <!-- <a href='/film/detail/{{Film.$id}}'>  -->
                                <img class="card-img" alt="ảnh" src='{{Film.url}}'>
                                <!-- <span style="font-size:12px;" class="ribbon">
                            {{Film.genre}}
                            
                        </span> -->
                                <div class="ribbon">

                                    <div>{{Film.new}}</div>
                                </div>
                                <div class="card">
                                    <p class="card-name">{{Film.name}}</p>

                                </div>
                            </a>

                        </div>
                    </div>


                </div>
            </div>

        </div>


        <!--       
       
        </div>
        <div id="msg" style="font-size:largest;">
            Please Wait...
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#body').show();
                $('#msg').hide();
            });
        </script>  -->

    </div>

    <%- partial('./../share/footer.ejs') -%>
</body>

</html>