
 
<div ng-controller="headermaincontroller">
    <nav class="navbar navbar-inverse bg-faded">
        <form class="form-inline">
            <button class="btn btn-outline-success" type="button">Main button</button>
            <button class="btn btn-sm align-middle btn-outline-secondary" type="button">Smaller button</button>
            <div class="header-icon-logout">
                <a href="#"><i ng-click="signoutCinema()" class="fa fa-sign-out white" aria-hidden="true"></i></a>
            </div>
            <div class="avatar-profile-header">
                <a href="">
                        <img src="{{account.url}}" class="avatar-img" alt="avatar">
                    </a>
            </div>
        </form>
    </nav>
</div>