
/* 
.form-signin{
    max-width: 330px;
    padding: 0px;
    margin: auto;
} */
.login-container{
    margin-top: 60px;
    height: 450px;
    width:530px;
    background-color: white;
    border:  1px solid thistle;
    border-bottom-width: 4px;
     border-radius: 10px; 
    padding-left:50px;
    padding-right:50px;
    /* text-align: center; */
    
}
.omb_authTitle {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
    line-height: 100%;
        font-family: 'Nothing You Could Do', cursive;
}
   
.omb_socialButtons a {
	color: white; 
    opacity:0.9;
    width: 110px;
    display: inline-block;
    position: relative;
    
  
}
.omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
 .omb_socialButtons .omb_btn-facebook {
     background: #3b5998;
      width: 150px; 
        margin-left: 50px;
        position: absolute;
          border-radius: 0px;
    }
.omb_socialButtons .omb_btn-google {    background: #c32f10;
   left:100px;
     width: 150px; 
    float: right;
    position: absolute;
    border-radius: 0px;
}
.omb_loginOr {
	position: relative;
	font-size: 1.5em;
	
	margin-top: 1.8em;
	margin-bottom: 10px;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}
.omb_hrOr {
	/* background-color: black; */
	height: 1px;
	
	margin-bottom: 0px !important;
}
.omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
    top:10px;
    border-radius: 50%;
    margin-left: -1.5em;
 
	background-color: #cdcdcd;
	width: 2.5em;
	text-align: center;
}			

.checkoption{
   width: 100%;
   height: 50px;
   border: 1px solid gray;
}
.login-option{
 width: 50%;
font-size: 35px;
 height: 100%;
 text-align: center;
    background-color: #CE0000;
    color: white;
}